# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/
env/

# Python dist
build/
dist/
*.egg-info

# Jupyter
.ipynb_checkpoints

# System
.DS_Store

# Model artifacts
training/model/
*.h5
*.pb

# Dataset output
dataset_generator/dataset/

# Misc
*.log
dataset_generator/dataset_download_url.txt
.gitignore
training/model_download_urls.txt
